[submodule "bundles/vim-vividchalk"]
	path = bundles/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundles/vim-fugitive"]
	path = bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundles/vim-surround"]
	path = bundles/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundles/closetag.vim"]
	path = bundles/closetag.vim
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundles/inkpot"]
	path = bundles/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "bundles/vim-wombat"]
	path = bundles/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundles/snipmate.vim"]
	path = bundles/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundles/zencoding-vim"]
	path = bundles/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundles/IndentAnything"]
	path = bundles/IndentAnything
	url = https://github.com/vim-scripts/IndentAnything.git
[submodule "bundles/Javascript-Indentation"]
	path = bundles/Javascript-Indentation
	url = https://github.com/vim-scripts/Javascript-Indentation.git
[submodule "bundles/vim-markdown"]
	path = bundles/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundles/taglist.vim"]
	path = bundles/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundles/supertab"]
	path = bundles/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundles/JSON.vim"]
	path = bundles/JSON.vim
	url = https://github.com/dimituri/JSON.vim.git
[submodule "bundles/vim-unimpaired"]
	path = bundles/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundles/vim-coffee-script"]
	path = bundles/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundles/git"]
	path = bundles/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundles/minibufexpl"]
	path = bundles/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "bundles/command-t"]
	path = bundles/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundles/ack"]
	path = bundles/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundles/gundo"]
	path = bundles/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundles/pydoc"]
	path = bundles/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundles/pep8"]
	path = bundles/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundles/py.test"]
	path = bundles/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "bundles/makegreen"]
	path = bundles/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "bundles/tasklist"]
	path = bundles/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundles/ropevim"]
	path = bundles/ropevim
	url = https://github.com/sontek/rope-vim.git
