[submodule "bundles/vim-vividchalk"]
	path = bundles/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundles/vim-fugitive"]
	path = bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundles/vim-surround"]
	path = bundles/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundles/closetag.vim"]
	path = bundles/closetag.vim
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundles/inkpot"]
	path = bundles/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "bundles/vim-wombat"]
	path = bundles/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundles/snipmate.vim"]
	path = bundles/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundles/zencoding-vim"]
	path = bundles/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundles/IndentAnything"]
	path = bundles/IndentAnything
	url = https://github.com/vim-scripts/IndentAnything.git
[submodule "bundles/Javascript-Indentation"]
	path = bundles/Javascript-Indentation
	url = https://github.com/vim-scripts/Javascript-Indentation.git
[submodule "bundles/vim-markdown"]
	path = bundles/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundles/taglist.vim"]
	path = bundles/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
