[submodule "bundles/vim-vividchalk"]
	path = bundles/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundles/vim-fugitive"]
	path = bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
